<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- component 어노테이션 활용하기, 클래스를 자동으로 Bean으로 등록(싱글톤) -->
<!-- 	<context:component-scan base-package="test02"></context:component-scan> -->
	
	
	<!-- Autowired 어노테이션 활용하기 -->
	<context:annotation-config/>
	
	<!-- 같은 객체로 여러개의 빈 만들기 -->
	<bean id="hong" class="test02.Student">
		<!-- setter로 인스턴스 생성 -->
		<property name="name" value="홍길동" />
		<property name="addr" value="서울시 강남구" />
		<property name="age" value="50" />
	</bean>
	<bean id="lee" class="test02.Student">
		<!-- setter로 인스턴스 생성 -->
		<property name="name" value="이순신" />
		<property name="addr" value="인천" />
		<property name="age" value="100" />
	</bean>
	
	<bean class="test02.School" id="mySchool">
		<property name="grade" value="1"/>
	</bean>


</beans>
